<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>

<h1>My Super Fancy Spa</h1>

    <div id = "clientProfile">
        <h2>My Profile</h2>
        <p th:text="${name}"></p>
        <p th:text="${skintype}"></p>
        <p th:text="${manipedi}"></p>

    </div>

    <div id = "servicesMenu">
        <h2>Menu of Available Services</h2>
        <h3>Facial Treatments</h3>
        <p>The facial treamts below are recommended for your given skin type.</p>
        <th:block th:each="facial : ${appropriateFacials}">
            <p></p>
            <tr th:text="${facial}">
            </tr>
        </th:block>
        <th:block th:if="${manipedi.equals('manicure')}">
            <h3>Manicure: </h3>
            <p th:replace = "fragments :: manicureDescription"></p>
        </th:block>
        <th:block th:if="${!manipedi.equals('manicure')}">
            <h3>Pedicure: </h3>
            <p th:replace = "fragments :: pedicureDescription"></p>
        </th:block>
    </div>
</body>
</html>